.header {
    background: #1976d2;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: left;
    align-items: center;
}

.header nav a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
}